/* ADMIN LOGIN START */
.adminLogin {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.adminLoginButtons {
    font-family: 'Inter', sans-serif;
}

.adminLoginButtons p {
    font-size: 40px;
    font-weight: 500;
    color: #E27171;
}

.contents {
    text-align: center;
}

.contents img {
    margin-bottom: 30px;
}

.contents p {
    font-size: 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding: 0px 20px;
}

.inputField {
    border: 1px solid #242424;
    width: fit-content;
    display: flex;
    border-radius: 12px;
}

.inputField input {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: 1px solid black;
}

.loginDiv {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.inputField img {
    height: 40px;
    padding: 10px;
}

.loginBtn {
    background-color: #26497F;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 12px;
    cursor: pointer;
}

.button-link {
    text-decoration: none;
}

/* ADMIN LOGIN END */