@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.navigation {
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
}

.navigationItem {
    display: flex;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 0px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.navigationItem img {
    margin-right: 15px;
}

.active {
    background-color: #75A067;
    color: #ffffff;
}